*{
        margin: 0;
        padding: 0;
}
:root{
        --primary-color: #E02A03;
        --color-light:#F74c27;
        --color-dark:#86240d;
}

body{
        background-color: var(--primary-color);
    
}
h1{
    margin:2%;
    padding-left: 330px;
    color: azure;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
}

.container1{
        margin: 5%;
        display:grid;
        grid-template-rows: 300px;
        grid-template-columns: 1fr;
        max-width: 65%;
        min-height: clamp(250px, 250px, 300px);
        background-color: var(--color-dark);
        border: 1px solid #86240d;
        border-radius: 10px; 
}
.img_box{
        display: flex;
        justify-content: space-around;
        min-width: 100%;
        max-height: 100%;
        background-color: #ffffff15;
        border: 1px solid rgba(3, 3, 3, 0.171);
        border-radius: 10px;
}
.img_box img{
        display: flex;
        margin-top: 20%;
        width: 224px;
        height: 224px;
        background-color: rgba(233, 222, 222, 0.89);
        border: 1px solid rgba(233, 222, 222, 0.89);
        border-radius: 10px;
        display: inline-block;
}
.img_box img [src]{
        border: 1px solid rgba(233, 222, 222, 0.89);
        border-radius: 10px;
}
.profilepic{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-left: 70%;
        margin-top: -27%;
}

.profilepic p{
        margin: 10px;
        color: #ffff;
        font-size: 1.2em;
}

.profilepic img{
        width: 200px;
        height: 200px;
        background-color: #fff;
        border-radius: 50%;
        border: 2px solid #fff;
}

hr{
        height: 5px;
        background-color: #fff;
        border: none;
}

footer{
        display:inline;
        padding-left: 650px;
}
footer p{
        display: inherit;
        color: rgb(5, 11, 49);
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell;
        font-size: 20px;
}   
/*si l'écran est réduit à exactement 1000 pixels ou en dessous les propriétés s'appliquent*/
@media screen and (max-width:970px){
        body{
                width: 80%;
        }
        .img_box{
                margin: 10px;
                width: 98%;
                height: 300px;;
        }
        .img{
                max-width: 100%;
                height: auto;
        }
}